@import '../../global.scss';

.page-all{
    background: #110618   ;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    height:100vh;
}

.main-content{
    margin-top:pxtorem(100px);
    background-color: $color-soft;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    width:pxtorem(500px);
    height:pxtorem(500px);

    border: pxtorem(1px) solid $color-dark;
    border-radius:pxtorem(10px);

    .btn-sign-in{
        margin-top: pxtorem(10px);
        height: pxtorem(50px);
        background-color: white;
        color: $color-soft;
        font-family: $font-secondary;
        border: pxtorem(1px) solid $color-dark;
        border-radius:pxtorem(10px);

        &:hover{
            background-color:$color-brillant;
            color:white;
        }      
        
    }

}


