@import '../../../src/global.scss';

.input-login{
        background-color:$color-white;
        height: pxtorem(60px);
        border: pxtorem(1px) solid $color-dark;
        border-radius:pxtorem(10px);
        margin-top: pxtorem(10px);
        
        &::placeholder {
          color: $color-dark;
          font-family: $font-secondary;
          font-size: pxtorem(14px);
        }

}