@import '../../../src/global.scss';

.nav-bar-top{
    background-color: $color-dark !important;
    display: flex !important;
    justify-content: center !important;

    svg{ 
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color:$color-white;
        cursor:pointer;
    }
}

//I'm using !important because the bootstrap is not local on the machine and I can't rewrite the css class