
@function pxtorem($size) {
    @return ($size / 16px) * 1rem;
}

$color-dark: #110618;
$color-almost-dark:  #1E0A2B;
$color-soft:  #2F0F44;
$color-almost-soft:  #3D1357;
$color-brillant: #522B6B;

$color-white:white;

$font-secondary:'Courier New', Courier, monospace;
